@page {
  size: A4;
}

@media print {
  body {
    margin: 0;
  }

  .screen-only {
    display: none;
  }
}

.page-break-avoid:not(tabel) {
  /*page-break-inside: avoid;*/
  /*break-inside: avoid;*/
}
table.page-break-avoid tr td, table.page-break-avoid tr th {
  /*break-inside: avoid;*/
}
